<section class="p-3 bg-white shadow-lg w-100 rounded-bottom">
  <div class="d-flex justify-content-start align-items-center text-dark">
    <div
      class="p-2 text-2xl bg-white rounded shadow-lg d-flex justify-content-center align-items-center text-dark"
      style="width: 60px; height: 60px"
    >
      <ng-content></ng-content>
    </div>
    <div class="mx-4">
      <h2 class="m-0 text-capitalize">{{ title }}</h2>
      <span class="mt-1 text-muted">{{ subtitle }} </span>
    </div>
  </div>
</section>
