<section class="p-3 w-100 rounded-bottom shadow-lg bg-white">
  <div class="d-flex justify-content-start align-items-center text-dark">
    <div
      class="bg-white rounded h4 d-flex shadow-lg justify-content-center align-items-center text-dark mx-4 p-2"
      style="width: 60px; height: 60px"
    >
      <ng-content></ng-content>
    </div>
    <div class="mx-4">
      <h2 class="m-0 text-capitalize">{{ title }}</h2>
      <span class="mt-1 text-muted">{{ subtitle }} </span>
    </div>
  </div>
</section>
