<h5 class="p-2 text-lg font-semibold">Editar mis datos</h5>
<form>
    <div class="mx-0 form-group row align-items-center">
        <label for="" class="form-label">Usuario: </label>
        <div class="col-1">
            <input type="text" class="px-2 py-1 border rounded form-control" name="username" id="username"
                aria-describedby="helpId" placeholder="" value="{{ user.username }}" [(ngModel)]="user.username">
        </div>
    </div>
    <div class="mx-0 mt-2 form-group row align-items-center">
        <label for="" class="form-label">Contraseña: </label>
        <div class="col-1">
            <input type="text" class="px-2 py-1 border rounded form-control" name="password" id="password"
                aria-describedby="helpId" placeholder="" value="{{ user.password }}" [(ngModel)]="user.password">
        </div>
    </div>
    <div class="mx-0 my-2 form-group row align-items-center">
        <label for="" class="form-label">Nombre: </label>
        <div class="col-5">
            <input type="text" class="px-2 py-1 border rounded form-control " name="firstname" id="firstname"
                aria-describedby="helpId" placeholder="" value="{{ user.firstName }}" [(ngModel)]="user.firstName">
        </div>
    </div>
    <div class="mx-0 my-2 form-group row align-items-center">
        <label for="" class="form-label">Apellido: </label>
        <div class="col-5">
            <input type="text" class="px-2 py-1 border rounded form-control " name="lastname" id="lastname"
                aria-describedby="helpId" placeholder="" value="{{ user.lastName }}" [(ngModel)]="user.lastName">
        </div>
    </div>
    <div class="mx-0 my-2 form-group row align-items-center">
        <label for="" class="form-label">Email: </label>
        <div class="col-4">
            <input type="email" class="px-2 py-1 border rounded form-control col" name="email" id="email"
                aria-describedby="helpId" placeholder="" value="{{ user.email }}" [(ngModel)]="user.email">
        </div>
    </div>
    <div class="mx-0 my-2 form-group row align-items-center">
        <label for="" class="form-label">Teléfono: </label>
        <div class="col-5">
            <input type="text" class="px-2 py-1 border rounded form-control" name="phone" id="phone"
                aria-describedby="helpId" placeholder="" value="{{ user.phone }}" [(ngModel)]="user.phone">
        </div>
    </div>
    <div class="mx-0 my-2 form-group row align-items-center">
        <label for="" class="form-label">Dirección: </label>
        <div class="col-4">
            <input type="text" class="px-2 py-1 border rounded form-control col" name="address" id="address"
                aria-describedby="helpId" placeholder="" value="{{ user.address }}" [(ngModel)]="user.address">
        </div>
    </div>
    <div class="mx-0 my-2 form-group row align-items-center">
        <label for="" class="form-label">Código Postal: </label>
        <div class="col-5">
            <input type="text" class="px-2 py-1 border rounded form-control" name="zip_code" id="zip_code"
                aria-describedby="helpId" placeholder="" value="{{ user.zip_code }}" [(ngModel)]="user.zip_code">
        </div>
    </div>
    <div class="mx-0 my-2 form-group row align-items-center">
        <label for="" class="form-label">Tipo de Usuario: </label>
        <div class="col-5">
            <input type="text" class="px-2 py-1 border rounded form-control" name="idRol" id="idRol"
                aria-describedby="helpId" placeholder="" value="{{ user.idRol == 1 ? 'Cliente' : 'Admin' }}"
                readonly>
        </div>
    </div>
        <button
        class="flex items-center px-6 py-2 my-4 text-xs font-semibold uppercase transition duration-500 ease-out transform border shadow-md md:px-10 rounded-3xl hover-color-principal-outline bg-principal"
        (click)="updateUser()">Actualizar</button>
</form>


