<!-- informacion reutilizable -->
<section
  class="grid items-center w-full grid-cols-1 gap-1 p-2 mx-auto mt-5 md:gap-4 max-w-7xl lg:grid-cols-3"
>
  <!-- component card about -->
  <div class="grid items-center p-2 bg-white justify-items-center">
    <div class="p-2 text-center">
      <h4 class="text-2xl font-bold">¡Síguenos!</h4>
      <span class="text-sm text-gray-500"
        >Estamos en las redes sociales con super promociones
      </span>
    </div>
    <div class="flex items-center justify-center w-full my-4">
      <img
        src="https://d13xymm0hzzbsd.cloudfront.net/1/20200519/15899159830089.svg"
        alt=""
        class="h-16 p-2 mx-2"
      />
      <img
        src="https://d13xymm0hzzbsd.cloudfront.net/1/20200519/15899159910310.svg"
        alt=""
        class="h-16 p-2 mx-2"
      /><img
        src="https://d13xymm0hzzbsd.cloudfront.net/1/20200519/15899159980517.svg"
        alt=""
        class="h-16 p-2 mx-2"
      /><img
        src="https://d13xymm0hzzbsd.cloudfront.net/1/20200519/15899160045518.svg"
        alt=""
        class="h-16 p-2 mx-2"
      />
    </div>
  </div>

  <!-- metodos de pago -->
  <div class="grid items-center p-2 bg-white justify-items-center">
    <div class="p-2 text-center">
      <h4 class="text-2xl font-bold">Nuestras Aplicaciones</h4>
      <span class="text-sm text-gray-500"
        >Descarga tu aplicación en la tienda correspondiente
      </span>
    </div>
    <div class="flex items-center justify-center my-4">
      <img
        src="https://d13xymm0hzzbsd.cloudfront.net/1/20200520/15900085160480.svg"
        alt=""
        class="p-2 mx-2 h-14"
      />
      <img
        src="https://d13xymm0hzzbsd.cloudfront.net/1/20200520/15900085241838.svg"
        alt=""
        class="p-2 mx-2 h-14"
      />
    </div>
  </div>

  <div class="grid items-center p-2 mx-2 bg-white justify-items-center">
    <div class="p-2 text-center">
      <h4 class="text-2xl font-bold">Metodos de Pago</h4>
      <span class="text-sm text-gray-500"
        >Tienes todas estas opciones de pago
      </span>
    </div>
    <div class="flex items-center justify-center my-4">
      <img
        src="https://d13xymm0hzzbsd.cloudfront.net/1/20200702/15937001358304.svg"
        alt=""
        class="w-20 h-16 p-2 mx-2"
      />
      <img
        src="https://d13xymm0hzzbsd.cloudfront.net/1/20200702/15937001357796.svg"
        alt=""
        class="w-20 h-16 p-2 mx-2"
      />
      <img
        src="https://d13xymm0hzzbsd.cloudfront.net/1/20200702/15937001357164.svg"
        alt=""
        class="w-20 h-16 p-2 mx-2"
      />
      <img
        src="https://d13xymm0hzzbsd.cloudfront.net/1/20200702/15937001355185.svg"
        alt=""
        class="hidden w-20 h-16 p-2 mx-2 sm:block"
      />
      <img
        src="https://d13xymm0hzzbsd.cloudfront.net/1/20200701/15936347333077.svg"
        alt=""
        class="hidden w-20 h-16 p-2 mx-2 sm:block"
      />
    </div>
  </div>
</section>
<!-- iconos de reclamas , factura electronica-->
<section
  class="grid grid-cols-2 gap-3 p-4 mx-auto mt-4 md:grid-cols-4 max-w-7xl"
>
  <div class="p-2 mx-2 my-1 bg-gray-50">
    <div class="flex items-center justify-center">
      <img
        src="https://d13xymm0hzzbsd.cloudfront.net/1/20200601/15910486211198.svg"
        class="w-10 h-10 mx-2"
      />
      <p class="text-xs font-medium ">Factura Electronica</p>
    </div>
  </div>
  <div class="p-2 mx-2 my-1 bg-gray-50">
    <div class="flex items-center justify-center">
      <img
        src="https://d13xymm0hzzbsd.cloudfront.net/1/20200519/15899201343083.png"
        class="w-10 h-10 mx-2"
      />
      <p class="text-xs font-medium ">
        Libro de Reclamaciones
      </p>
    </div>
  </div>
  <div class="p-2 mx-2 my-1 bg-gray-50">
    <div class="flex items-center justify-center">
      <img
        src="https://d13xymm0hzzbsd.cloudfront.net/1/20200519/15899202073838.svg"
        class="w-10 h-10 mx-2"
      />
      <p class="text-xs font-medium ">
        Terminos y Condiciones
      </p>
    </div>
  </div>
  <div class="p-2 mx-2 my-1 bg-gray-50">
    <div class="flex items-center justify-center">
      <img
        src="https://d13xymm0hzzbsd.cloudfront.net/1/20200601/15910487527024.svg"
        class="w-10 h-10 mx-2"
      />
      <p class="text-xs font-medium ">
        Politica de Privacidad
      </p>
    </div>
  </div>
</section>
<br><br>
