<div>
  <div class="mx-2 my-4 row justify-content-center">
    <div class="my-5 col-md-8">
      <a
        mat-flat-button
        color="primary"
        [routerLink]="['/admin/products']"
        class="my-2 text-white text-decoration-none"
      >
        <i class="mr-2 fas fa-arrow-left"></i>Volver
      </a>
      <form #productsForm="ngForm">
        <mat-card style="position: relative">
          <app-circulo-icon-card [color]="'#47B475'" colorTexto="white">
            <i class="fas fa-shoe-prints fa-rotate-270"></i>
          </app-circulo-icon-card>

          <mat-card-content>
            <div class="form-group">
              <label for="">Description:</label>
              <mat-form-field appearance="fill">
                <mat-label class="block">Insert Description</mat-label>
                <textarea
                  matInput
                  maxlength="150"
                  [(ngModel)]="products.description"
                  #description="ngModel"
                  name="description"
                  required
                  minlength="1"
                ></textarea>
              </mat-form-field>
              <div
                class="inline-flex items-center p-1 px-2 my-1 text-xs leading-none text-gray-800 bg-red-100 rounded-full font-weight-bold"
                *ngIf="
                  description.invalid &&
                  (description.dirty || description.touched)
                "
              >
                <div class="" *ngIf="description.errors?.required">
                  Description is required
                </div>
              </div>
            </div>

            <div class="form-group">
              <mat-form-field appearance="fill">
                <mat-label>Seleccionar su Categoria</mat-label>
                <select
                  matNativeControl
                  required
                  name="idCategory"
                  #idCategory="ngModel"
                  [(ngModel)]="products.idCategory"
                >
                  <option
                    [value]="category.idCategory"
                    *ngFor="let category of categorys"
                  >
                    {{ category.name }}
                  </option>
                </select>
              </mat-form-field>

              <div
                class="inline-flex items-center p-1 px-2 my-1 text-xs leading-none text-gray-800 bg-red-100 rounded-full font-weight-bold"
                *ngIf="
                  idCategory.invalid && (idCategory.dirty || idCategory.touched)
                "
              >
                <div class="" *ngIf="idCategory.errors?.required">
                  idCategory is required
                </div>
              </div>
            </div>
            <div class="form-group">
              <mat-form-field appearance="fill">
                <mat-label>Seleccionar su Vendor</mat-label>
                <select
                  matNativeControl
                  required
                  #idVendor="ngModel"
                  name="idVendor"
                  [(ngModel)]="products.idVendor"
                >
                  <option
                    [value]="vendor.idVendor"
                    *ngFor="let vendor of vendors"
                  >
                    {{ vendor.company }}
                  </option>
                </select>
              </mat-form-field>

              <div
                class="inline-flex items-center p-1 px-2 my-1 text-xs leading-none text-gray-800 bg-red-100 rounded-full font-weight-bold"
                *ngIf="idVendor.invalid && (idVendor.dirty || idVendor.touched)"
              >
                <div class="" *ngIf="idVendor.errors?.required">
                  idVendor is required
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="">Name:</label>
              <mat-form-field appearance="fill">
                <mat-label class="block">Name </mat-label>
                <textarea
                  matInput
                  maxlength="150"
                  [(ngModel)]="products.name"
                  #name="ngModel"
                  name="name"
                  required
                  minlength="1"
                ></textarea>
              </mat-form-field>
              <div
                class="inline-flex items-center p-1 px-2 my-1 text-xs leading-none text-gray-800 bg-red-100 rounded-full font-weight-bold"
                *ngIf="name.invalid && (name.dirty || name.touched)"
              >
                <div class="" *ngIf="name.errors?.required">
                  Name is required
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="">Price:</label>
              <mat-form-field appearance="fill">
                <mat-label class="block">Price </mat-label>
                <textarea
                  matInput
                  maxlength="150"
                  [(ngModel)]="products.price"
                  #price="ngModel"
                  name="price"
                  required
                  minlength="1"
                ></textarea>
              </mat-form-field>
              <div
                class="inline-flex items-center p-1 px-2 my-1 text-xs leading-none text-gray-800 bg-red-100 rounded-full font-weight-bold"
                *ngIf="price.invalid && (price.dirty || price.touched)"
              >
                <div class="" *ngIf="price.errors?.required">
                  Price is required
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="">Sale_Price:</label>
              <mat-form-field appearance="fill">
                <mat-label class="block">Sale_Price </mat-label>
                <textarea
                  matInput
                  maxlength="150"
                  [(ngModel)]="products.salePrice"
                  #sale_price="ngModel"
                  name="sale_price"
                  required
                  minlength="1"
                ></textarea>
              </mat-form-field>
              <div
                class="inline-flex items-center p-1 px-2 my-1 text-xs leading-none text-gray-800 bg-red-100 rounded-full font-weight-bold"
                *ngIf="
                  sale_price.invalid && (sale_price.dirty || sale_price.touched)
                "
              >
                <div class="" *ngIf="sale_price.errors?.required">
                  sale_price is required
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="">Stock:</label>
              <mat-form-field appearance="fill">
                <mat-label class="block">Stock</mat-label>
                <textarea
                  matInput
                  maxlength="150"
                  [(ngModel)]="products.stock"
                  #stock="ngModel"
                  name="stock"
                  required
                  minlength="1"
                ></textarea>
              </mat-form-field>
              <div
                class="inline-flex items-center p-1 px-2 my-1 text-xs leading-none text-gray-800 bg-red-100 rounded-full font-weight-bold"
                *ngIf="stock.invalid && (stock.dirty || stock.touched)"
              >
                <div class="" *ngIf="stock.errors?.required">
                  stock is required
                </div>
              </div>
            </div>

            <div class="my-4 form-group">
              <label for="">Seleccione una Imagen:</label>
              <div
                class="flex flex-col items-center justify-content-center md:flex-row"
              >
                <div class="p-1">
                  <img
                    *ngIf="products.thumbnailUrl != ''"
                    [src]="
                      products.thumbnailUrl != ''
                        ? urlProduct + products.thumbnailUrl
                        : urlProductNotFound
                    "
                    [alt]="products.thumbnailUrl"
                    srcset=""
                    class="rounded-lg h-28 w-28"
                  />
                </div>
                <input
                  type="file"
                  name="imgFile"
                  (change)="selectedPhoto($event)"
                />
              </div>
            </div>
            <div class="my-4 form-group">
              <label for="">Seleccione las Imagenes Relacionadas:</label>
              <div
                class="flex flex-col items-center justify-content-center md:flex-row"
              >
                <div class="p-1">
                  <div
                    class="flex items-center justify-center"
                    *ngIf="products?.productsImages?.length != 0"
                  >
                    <img
                      [src]="
                        productImage.url != ''
                          ? urlProductImage + productImage.url
                          : urlProductNotFound
                      "
                      [alt]="productImage.url"
                      *ngFor="let productImage of products?.productsImages"
                      class="w-20 h-20 mx-2 rounded-lg"
                    />
                  </div>
                </div>
                <input
                  type="file"
                  name="imgFile"
                  multiple maxlength="3" minlength="1"
                  accept="image/*"
                  (change)="selectedPhotoImages($event)"
                />
              </div>
            </div>

            <button
              mat-flat-button
              color="accent"
              class="text-white w-100 h6"
              style="background-color: #47b475"
              *ngIf="products.idProduct == undefined; else elseButton"
              (click)="create()"
              [disabled]="!productsForm.form.valid"
            >
              <i class="mr-2 fas fa-save"></i>Save
            </button>
            <ng-template #elseButton>
              <button
                mat-flat-button
                color="primary"
                class="text-white w-100 h6"
                (click)="update()"
                [disabled]="!productsForm.form.valid"
              >
                <i class="mr-2 fas fa-save"></i>UpdateCreated
              </button>
            </ng-template>
          </mat-card-content>
        </mat-card>
      </form>
    </div>
  </div>
</div>
