<!-- nav responsive -->
<footer class="navbar-buttom">
  <div
    class="grid items-center w-full grid-cols-5 gap-3 p-2 text-white shadow-md sm:gap-2 md:hidden fondo-principal"
  >
    <a class="p-1 text-center" routerLink="/home">
      <i class="text-xl fa fa-home"></i>
      <p class="m-0 text-xs">Inicio</p> </a
    ><a class="p-1 text-center" routerLink="/cart-shop">
      <i class="text-xl fas fa-search"></i>
      <p class="m-0 text-xs">Buscar</p> </a
    ><a class="p-1 text-center" routerLink="/cart-shop">
      <i class="text-xl far fa-heart"></i>
      <p class="m-0 text-xs">Favoritos</p> </a
    ><a class="p-1 text-center" routerLink="/cart-shop">
      <i class="text-xl fa fa-shopping-cart"></i>
      <p class="m-0 text-xs" >Carrito</p> </a
    ><a class="p-1 text-center" routerLink="/my-account">
      <i class="text-xl far fa-user"></i>
      <p class="m-0 text-xs">{{ nameUser }}</p>
    </a>
  </div>
</footer>
