<!-- nav responsive -->
<footer class="navbar-buttom">
  <div
    class="grid items-center w-full grid-cols-5 gap-3 p-2 shadow-md sm:gap-2 md:hidden"
    style="background-color: #f9f9f9"
  >
    <a class="p-1 text-center" href="#">
      <i class="text-xl fa fa-home"></i>
      <p class="m-0 text-xs text-gray-500">Inicio</p> </a
    ><a class="p-1 text-center" href="#">
      <i class="text-xl fas fa-search"></i>
      <p class="m-0 text-xs text-gray-500">Buscar</p> </a
    ><a class="p-1 text-center" href="#">
      <i class="text-xl far fa-heart"></i>
      <p class="m-0 text-xs text-gray-500">Favoritos</p> </a
    ><a class="p-1 text-center" href="#">
      <i class="text-xl fa fa-shopping-cart"></i>
      <p class="m-0 text-xs text-gray-500">Carrito</p> </a
    ><a class="p-1 text-center" href="#">
      <i class="text-xl far fa-user"></i>
      <p class="m-0 text-xs text-gray-500">Cuenta</p>
    </a>
  </div>
</footer>
