<!-- <mat-toolbar color="primary">

    <mat-toolbar-row>

        <div class="row between-xs middle-xs header-row">
            <nav>
                <a routerLink="/"><img src="assets/Image/logo/logo.png" alt=""></a>
                <a mat-raised-button routerLink="/" class="sapcebutton">Home
                    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                </a>
                <a mat-raised-button routerLink="/contact" class="sapcebutton">Contacto</a>
                <a mat-raised-button routerLink="/" class="sapcebutton">Productos</a>
                <a mat-raised-button matBadge="{{ cartItemsCount | async }}" matBadgeColor="warn"
                    routerLink="/cart" (click)="logCart()">Carrito<span class="material-icons">shopping_cart</span></a>
                <button mat-raised-button [matMenuTriggerFor]="menu" color="accent" class="spacebutton">Categorias</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Pibe</button>
                    <button mat-menu-item>Sandalias</button>
                    <button mat-menu-item>botas</button>
                </mat-menu>
                <a mat-raised-button class="profileIcon" routerLink="/login"> <span class="material-icons">account_circle</span></a>
            </nav>
        </div>
    </mat-toolbar-row>
</mat-toolbar> -->

<nav class="fixed top-0 z-50 w-full p-2" style="background-color: #f9f9f9">
  <div class="items-center grid-cols-5 gap-4 mx-auto md:grid max-w-7xl">
    <div class="w-full p-1">
      <img src="assets/Image/logo/logo.png" class="h-10 mx-auto" />
    </div>
    <div class="hidden w-full col-span-3 md:block">
      <div class="flex items-center p-2 pl-4 bg-white rounded-full">
        <i class="mr-1 text-gray-300 fas fa-search"></i>
        <input
          type="text"
          class="flex-1 h-10 p-1 pl-2 text-sm text-black border-none outline-none"
          placeholder="Busca por ej zapatillas negras para hombre"
          maxlength="70"
        />
      </div>
    </div>

    <div class="hidden w-full grid-cols-3 gap-2 p-2 mx-auto md:grid">
      <a class="p-1 text-center" href="#">
        <i class="text-2xl far fa-heart"></i>
        <p class="m-0 mt-1 text-xs text-gray-500">Favoritos</p>
      </a>
      <a class="p-1 text-center" href="#">
        <i class="text-2xl fas fa-shopping-cart"></i>
        <p class="m-0 mt-1 text-xs text-gray-500">Carrito</p>
      </a>
      <a class="p-1 text-center" href="#">
        <i class="text-2xl far fa-user"></i>
        <p class="m-0 mt-1 text-xs text-gray-500">Cuenta</p>
      </a>
    </div>
  </div>
</nav>
