<!-- <mat-toolbar color="primary">

    <mat-toolbar-row>

        <div class="row between-xs middle-xs header-row">
            <nav>
                <a routerLink="/"><img src="assets/Image/logo/logo.png" alt=""></a>
                <a mat-raised-button routerLink="/" class="sapcebutton">Home
                    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                </a>
                <a mat-raised-button routerLink="/contact" class="sapcebutton">Contacto</a>
                <a mat-raised-button routerLink="/" class="sapcebutton">Productos</a>
                <a mat-raised-button matBadge="{{ cartItemsCount | async }}" matBadgeColor="warn"
                    routerLink="/cart" (click)="logCart()">Carrito<span class="material-icons">shopping_cart</span></a>
                <button mat-raised-button [matMenuTriggerFor]="menu" color="accent" class="spacebutton">Categorias</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Pibe</button>
                    <button mat-menu-item>Sandalias</button>
                    <button mat-menu-item>botas</button>
                </mat-menu>
                <a mat-raised-button class="profileIcon" routerLink="/login"> <span class="material-icons">account_circle</span></a>
            </nav>
        </div>
    </mat-toolbar-row>
</mat-toolbar> -->

<nav class="fixed top-0 z-50 w-full p-2 fondo-principal">
  <div class="items-center mx-auto grid-cols-5 gap-4 md:grid max-w-7xl">
    <div class="w-full p-1">
      <a routerLink="/home">
        <img src="assets/Image/logo/logo.png" class="h-10 mx-auto" />
      </a>
    </div>
    <div class="hidden w-full col-span-3 md:block">
      <search-bar-products></search-bar-products>
    </div>

    <div class="hidden w-full p-2 mx-auto text-white grid-cols-3 gap-2 md:grid">
      <a class="p-1 text-center" routerLink="/cart-shop">
        <i class="text-2xl far fa-heart"></i>
        <p class="m-0 mt-1 text-xs">Favoritos</p>
      </a>
      <a class="p-1 text-center" routerLink="/cart">
        <i class="text-2xl fas fa-shopping-cart"></i>
        <span class="badge">{{ cartItemsCount.value }}</span>
        <p class="m-0 mt-1 text-xs">Carrito</p>
      </a>
      <a class="p-1 text-center" routerLink="/my-account">
        <i class="text-2xl far fa-user"></i>
        <p class="m-0 mt-1 text-xs">{{ nameUser }}</p>
      </a>
    </div>
  </div>
</nav>
