<div class="bg-container">
  <div class="flex justify-center my-2 md:justify-start">
    <div class="my-1 logo-container"></div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="login">
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="flex flex-column">
            <label for="username" class="p-2">Usuario</label>
            <input
              [formControl]="username"
              type="text"
              class="p-2 text-gray-600 outline-none"
              id="username"
            />
            <div
              class="px-4 py-2 my-2 text-red-700 bg-red-100 border border-red-400 rounded"
              role="alert"
              *ngIf="username.touched && username.errors?.required"
            >
              <strong class="font-bold">Debe ingresar un usuario.</strong>
            </div>
            <div
              class="px-4 py-2 my-2 text-red-700 bg-red-100 border border-red-400 rounded"
              role="alert"
              *ngIf="username.touched && username.errors?.maxlength"
            >
              <strong class="font-bold">
                El usuario debe tener 18 caracteres como máximo.
              </strong>
            </div>
          </div>
          <div class="flex flex-column">
            <label for="password" class="p-2">Contraseña</label>
            <input
              [formControl]="password"
              type="password"
              class="p-2 text-gray-600 outline-none"
              id="password"
            />
            <div
              class="px-4 py-2 my-2 text-red-700 bg-red-100 border border-red-400 rounded"
              role="alert"
              *ngIf="password.touched && password.errors?.required"
            >
              <strong class="font-bold"> Debe ingresar su contraseña. </strong>
            </div>
          </div>
          <div class="p-1 text-center span-text">
            <span>Olvidó la contraseña?</span>
          </div>
          <div class="mb-3 text-center">
            <button class="p-2">Iniciar sesión</button>
          </div>
        </form>
      </div>
      <div class="text-center signup">
        <div class="p-1 text-center span-text">
          <span>No tiene una cuenta?</span>
        </div>
        <div class="p-2 text-center">
          <button (click)="signUp()" class="p-2 my-auto">Registrarme</button>
        </div>
      </div>
    </div>
  </div>
</div>
