<app-header-custom title="Pedidos" subtitle="Gestión de pedidos">
  <i class="fa fa-file" aria-hidden="true"></i>
</app-header-custom>
<app-spinner [show]="loading"></app-spinner>
<div class="flex flex-col table-container" *ngIf="!loading" >
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <div class="overflow-hidden border-b border-gray-200 sm:rounded-lg table-box">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                Pedido
              </th>
              <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                Fecha
              </th>
              <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                Estado
              </th>
              <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                Total
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <tr *ngFor="let o of orders" >
              <td class="py-4 pl-6 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="flex-shrink-0 w-10 h-10">
                    <img class="w-10 h-10 rounded-full" src="{{ getUserImageURL(o) }}" alt="">
                  </div>
                  <div class="ml-4">
                    <div class="text-sm font-medium text-gray-900">
                      {{ o.client!.firstName }}
                      {{ o.client!.lastName }}
                    </div>
                    <div class="text-sm text-gray-500">
                      # {{ o.idOrder }}
                    </div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">{{ o.dateCreated | date: 'dd/MM/yyyy' }}</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <span class="inline-flex px-2 text-xs font-semibold leading-5 text-gray-700 bg-gray-300 rounded-full"
                      *ngIf="o.idOrderStatus == 1">
                  {{ o.orderStatus!.status }}
                </span>
                <span class="inline-flex px-2 text-xs font-semibold leading-5 text-yellow-600 bg-yellow-200 rounded-full"
                      *ngIf="o.idOrderStatus == 2">
                  {{ o.orderStatus!.status }}
                </span>
                <span class="inline-flex px-2 text-xs font-semibold leading-5 text-blue-700 bg-blue-200 rounded-full"
                      *ngIf="o.idOrderStatus == 3">
                  {{ o.orderStatus!.status }}
                </span>
                <span class="inline-flex px-2 text-xs font-semibold leading-5 text-green-700 bg-green-200 rounded-full"
                      *ngIf="o.idOrderStatus == 4">
                  {{ o.orderStatus!.status }}
                </span>
                <span class="inline-flex px-2 text-xs font-semibold leading-5 text-red-700 bg-red-300 rounded-full"
                      *ngIf="o.idOrderStatus == 5">
                  {{ o.orderStatus!.status }}
                </span>
              </td>
              <td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">
                {{ o.total | currency: 'S/ ' }}
              </td>
              <td class="px-6 py-4 text-sm font-medium text-right whitespace-nowrap">
                <button (click)="showDetail(o)" class="text-indigo-600 hover:text-indigo-900">Ver detalle</button>
              </td>
            </tr>              
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="fixed inset-0 z-10 overflow-y-auto" *ngIf="showModalDetail">
  <div class="flex items-end justify-center min-h-screen px-4 pt-4 pb-20 text-center sm:block sm:p-0">
    <!--
      Background overlay, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div class="fixed inset-0 transition-opacity" aria-hidden="true">
      <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
    </div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
<!--     
      Modal panel, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        To: "opacity-100 translate-y-0 sm:scale-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100 translate-y-0 sm:scale-100"
        To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
    -->
    <div class="inline-block overflow-x-hidden overflow-y-visible text-left transition-all transform bg-white shadow-xl lg:align-top xl:align-top rounded-2xl sm:my-2 sm:align-middle sm:max-w-5xl sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline" id="orderDetail">
      <button (click)="closeDetail()" class="align-top sm:mt-2 material-icons close-icon sm:mr-2">
        close
      </button>
      <div class="mt-3 bg-white border-b border-gray-300 sm:flex sm:items-start">
        <span class="mb-3 ml-3 text-xl text-gray-500">Detalles del pedido</span>
      </div>
      <div class="flex flex-row justify-between px-4 py-3 bg-white border-b border-gray-300">
        <div class="flex flex-col">
          <div class="flex mt-2 header">
            <span class="mr-2 text-base font-medium text-black">Pedido: </span>
            <span class="text-gray-700">{{ order.idOrder }}</span>
          </div>
          <div class="flex flex-row mt-2 header">
            <span class="text-base font-medium text-black">Fecha: </span>
            <span class="px-2 ml-2 border border-gray-400 rounded-md" 
                  *ngIf="!editDate" (click)="toggleEditDate()">
              {{ dateCreated | date: 'dd/MM/yyyy' }}
            </span>
            <input type="date" [(ngModel)]="dateCreated" *ngIf="editDate"
                  class="ml-2 border border-gray-400 rounded-md">
            <button class="material-icons icon" (click)="toggleEditDate()"
                  *ngIf="editDate">
              close
            </button>
          </div>
          <div class="flex mt-2 header">
            <span class="text-base font-medium text-black">Estado: </span>
            <!-- <span class="px-2 ml-2 border border-gray-400 rounded-md" 
                  *ngIf="!editStatus" (click)="toggleEditStatus()">
              {{ selectedStatus }}
            </span> -->
            <div class="ml-2" (click)="toggleEditStatus()" *ngIf="!editStatus">
              <button class="inline-flex px-2 text-xs font-semibold leading-5 text-gray-700 bg-gray-300 rounded-full"
                    *ngIf="order.idOrderStatus == 1">
                {{ selectedStatus }}
              </button>
              <button class="inline-flex px-2 text-xs font-semibold leading-5 text-yellow-600 bg-yellow-200 rounded-full"
                    *ngIf="order.idOrderStatus == 2">
                {{ selectedStatus }}
              </button>
              <button class="inline-flex px-2 text-xs font-semibold leading-5 text-blue-700 bg-blue-200 rounded-full"
                    *ngIf="order.idOrderStatus == 3">
                {{ selectedStatus }}
              </button>
              <button class="inline-flex px-2 text-xs font-semibold leading-5 text-green-700 bg-green-200 rounded-full"
                    *ngIf="order.idOrderStatus == 4">
                {{ selectedStatus }}
              </button>
              <button class="inline-flex px-2 text-xs font-semibold leading-5 text-red-700 bg-red-300 rounded-full"
                    *ngIf="order.idOrderStatus == 5">
                {{ selectedStatus }}
              </button>
            </div>
            <div class="flex flex-row" *ngIf="editStatus">
              <select class="ml-2 bg-white border border-gray-400 rounded-md" 
                  [(ngModel)]="selectedStatus" >
              <option class="text-gray-500" *ngFor="let orderStatus of orderStatuses">
                {{ orderStatus.status }}
              </option>
              </select>
              <button class="material-icons icon" (click)="toggleEditStatus()">
                close
              </button>
            </div>
          </div>
        </div>
        <div class="flex flex-col items-start w-3/6 text-left">
          <span class="text-base font-medium text-black">Datos de facturación: </span>
          <div class="flex flex-col mt-2">
            <div>
              <span class="text-base font-medium text-black">Cliente: </span>
              <span class="text-base font-medium text-gray-500">{{ order.client!.firstName  }} {{ order.client!.lastName }}</span>
            </div>
            <div>
              <span class="text-base font-medium text-black">Dirección: </span>
              <span class="text-base font-medium text-gray-500">{{ order.client!.address }}</span>
            </div>
            <div>
              <span class="text-base font-medium text-black">Código postal: </span>
              <span class="text-base font-medium text-gray-500">{{ order.zipCode }}</span>
            </div>
            <div>
              <span class="text-base font-medium text-black">Correo: </span>
              <span class="text-base font-medium text-gray-500">{{ order.client!.email }}</span>
            </div>
            <div>
              <span class="text-base font-medium text-black">Celular: </span>
              <span class="text-base font-medium text-gray-500">{{ order.client!.phone }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col py-2 mt-1 border-b border-gray-300 table-container">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
            <div class="overflow-hidden border-b border-gray-200 sm:rounded-lg table-box">
              <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                  <tr>
                    <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                      Producto
                    </th>
                    <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                      Precio
                    </th>
                    <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                      Cantidad
                    </th>
                    <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                      Subtotal
                    </th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                  <tr *ngFor="let o of order.products" >
                    <td class="py-4 pl-6 whitespace-nowrap">
                      <div class="flex items-center">
                        <div class="flex-shrink-0 w-10 h-10 hidden-image-print" *ngIf="!isPrinting">
                          <img class="w-10 h-10 rounded-full" src="{{ o.product!.thumbnailUrl }}" alt="">
                        </div>
                        <div class="ml-4" *ngIf="!isPrinting">
                          <div class="text-base font-semibold text-gray-900">
                            {{ o.product!.name }}
                          </div>
                          <div class="text-base text-gray-700">
                            Código: Prod-0000{{ o.product!.idProduct }}
                          </div>
                        </div>
                        <div *ngIf="isPrinting">
                          <div class="text-base font-semibold text-gray-900">
                            {{ o.product!.name }}
                          </div>
                          <div class="text-base text-gray-700">
                            Código: Prod-0000{{ o.product!.idProduct }}
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div class="text-base font-medium text-gray-900">{{ o.product!.price | currency: 'S/ ' }}</div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div class="text-base font-medium text-gray-900">{{ o.quantity }}</div>
                    </td>
                    <td class="px-6 py-4 text-base font-medium text-gray-900 whitespace-nowrap">
                      {{ getSubTotalRow(o.product!.price!, o.quantity!) | currency: 'S/ ' }}
                    </td>
                  </tr>              
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="flex flex-row mx-2 mt-3">
          <span class="text-base font-medium text-black">Igv: {{ getIgv() | currency: 'S/ ' }}</span>
        </div>
        <div class="flex flex-row mx-2 mt-2">
          <span class="text-base font-medium text-black">Total: {{ getTotal() | currency: 'S/ ' }}</span>
        </div>
      </div>
      <div class="flex flex-row justify-between mx-3 mt-2">
        <div class="flex flex-col">
          <span class="text-base font-medium text-black">Datos de envío: </span>
          <div class="mt-2">
            <span class="text-base font-medium text-black">Dirección de envío: </span>
            <span class="text-base font-medium text-gray-500">{{ order.shippingAddress }}</span>
          </div>
          <div>
            <span class="text-base font-medium text-black">Código postal: </span>
            <span class="text-base font-medium text-gray-500">{{ order.zipCode }}</span>
          </div>
          <div>
            <span class="text-base font-medium text-black">Comentario del cliente: </span>
            <span class="text-base font-medium text-gray-500">{{ order.comment }}</span>
          </div>
        </div>
        <div class="border border-gray-500 rounded-2xl" *ngIf="!isPrinting">
            <iframe width="500" height="330" id="gmap_canvas" src="https://maps.google.com/maps?q=Palca%20258,%20Cercado%20de%20Lima%2015046&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
                    class="rounded-2xl">
            </iframe>
        </div>
      </div>
      <div class="px-4 py-3 bg-gray-50 sm:px-6 sm:flex sm:flex-row-reverse">
        <button type="button" class="inline-flex justify-center w-full px-4 py-2 mt-3 text-base font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-blue-500 hover:text-gray-100 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
                (click)="closeDetail()">
          Cerrar
        </button>
        <button type="button" class="inline-flex justify-center w-full px-4 py-2 mt-3 text-base font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-blue-500 hover:text-gray-100 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
                (click)="updateOrder()">
          Actualizar
        </button>
        <button type="button" class="inline-flex justify-center w-full px-4 py-2 mt-3 text-base font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-blue-500 hover:text-gray-100 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
                (click)="printOrder()">
          Imprimir
        </button>
      </div>
    </div>
  </div>
</div>
