<div class="w-5/6 m-auto">
    <div class="justify-center grid grid-cols-2">
        <div style="width: 500px; height: 500px;">
            <h1>Productos mas vendidos</h1>
            <canvas id="realtime1">{{ chart1 }}</canvas>
        </div>
        <div style="width: 500px; height: 500px;">
            <h1>Marcas mas vendidas</h1>
            <canvas id="realtime2">{{ chart1 }}</canvas>
        </div>
        <div style="width: 500px; height: 500px;">
            <h1>Proveedores mas frecuentes</h1>
            <canvas id="realtime3">{{ chart1 }}</canvas>
        </div>
        <div style="width: 500px; height: 500px;">
            <h1>Tendencia de productos</h1>
            <canvas id="realtime4">{{ chart1 }}</canvas>
        </div>
    </div>
</div>

