<mat-toolbar color="primary" class="doc-footer"> 
    <!-- logo -->
    <!-- <div class="navbar-brand">
        <a class="navbar-item">
            <img src="https://bulma.io/images/bulma-logo.png">
        </a>
    </div> -->

    <!-- <div class="footercontent">
        <div class="footer-secction about">
        </div>
        <div class="footer-section links">

        </div>
        <div class="footer-section contact-form"></div>

    </div> -->
        
    <!-- <div class="footer-logo">
        <img src="assets/Image/logo/logo.png" alt="">
    </div> -->
    <span class="footer-message">pamys.com - 2020 todos los derechos reservados.</span>
</mat-toolbar>